@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.498);
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

body{
    background-color: white;
}

nav{
    background-color: #D1B0B0 ;
    width: 100vw;
   
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-align: center;
    padding: 15px 10px 0px 10px;
    width: 80px;
    height: 50px;
}

nav a:hover{
    background-color: #db8b8b;
}

main{
    margin: auto;
    background-color: white;
    width: 100vw;
    height: 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.411);
}

article{
   height: 100%;
   padding: 20px;

   display: flex;
   flex-direction: column;
   align-items: center  
}

article h1 {
    padding: 20px 0px; 
}


article form select{ 
    font-size: 1.2em;
    height: 30px;
    width: 200px;
}

section.scroll-box{
    margin: auto;
    height: 70%;
    width: 90%;
    border: 1px solid #db8b8b;
    border-radius: 15px 0px 0px 15px;
    overflow-y: scroll; 
}

section.scroll-box > div.info-receita{
    display: none;
}

section.scroll-box > div.info-receita > h2{
    text-align: center;
    padding-bottom: 20px;    
}

section.scroll-box > div.info-receita > h3{
    padding-top: 15px;
}

section.scroll-box > div.info-receita > ul, ol{
    list-style-position: inside;
    padding: 5px;
}

section.scroll-box > div.info-receita li{
    padding-top: 10px;
    line-height: 1.5;
    
}

section.scroll-add-receita{
    margin: auto;
    height: 80%;
    width: 90%;
    border: 1px solid #db8b8b;
    border-radius: 15px 0px 0px 15px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.144);
    
}
    
::-webkit-scrollbar-thumb {
    
    background-color: #D1B0B0;
    
}
    
::-webkit-scrollbar-thumb:hover {
    background: #db8b8b;
}

section.scroll-box, .scroll-add-receita > p{
    padding: 15px 10px;
    
}

article p.botao{      
    background-color: #dea8a8;
    padding: 10px;
    border-radius: 20px;  
}

article p.botao:hover{      
    background-color: #db8b8b;  
}


/* PÃGINA ADD RECEITA */

section.scroll-add-receita{
    width: 90%;
}

form.form-add-receita{
    list-style-position: inside;
    padding: 15px;
}

form.form-add-receita > ul > li{
    padding-top: 10px;
    
}

form.form-add-receita input{
    padding: 5px;
}

form.form-add-receita> input#nome-receita{
    width: 240px;
}

form.form-add-receita > ul > li > input#quant-ingred{
    width: 53px;
    margin-right: 5px;
}

form.form-add-receita > ul > li > input#ingrediente{
    width: 150px;
}



